html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.bg-image {
    /* The image used */
    background-image: url(~/images/1.jpg);
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-wrapper {
    column-gap : 15px;
}

#simple-modal .modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

#simple-modal .modal-body {
    position: relative;
    padding: 0px;
    min-height: 400px;
    background: #ccc;
}

#simple-modal .btn-close {
    position: absolute;
    right: -60px;
    top: -24px;
    font-size: 1rem;
    font-weight: normal;
    opacity: 1;
}

#image {
    width: 100%;
}

.fontStyle2 {
    font-family: 'Manrope', sans-serif;
}

.fontStyle1 {
    font-family: 'Anton', sans-serif;
}

.compact {
    line-height: 1.5em
}

a.customNav {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    min-width: 80px;
    text-align: center;
    border-right: 1px solid #e55c69;
    padding: 14px 18px;
}

    a.active,
    a.customNav:hover {
        background: rgba(255, 255, 255, 0.2) !important;
        border-color: transparent
    }

@media screen and (min-width:797px) {
    #bottomNavbar.collapse {
        display: block
    }
}

@media screen and (max-width:796px) {
    #bottomNavbar {
        padding: 14px;
    }

        #bottomNavbar a.customNav {
            display: block !important;
            border: none;
            background: rgba(0, 0, 0, 0.2);
            margin-top: 4px;
            margin-bottom: 4px;
            margin-left: -5px;
            margin-right: -5px;
        }

    #removeFlex {
        display: block !important;
        text-align: center
    }

    .bg-img {
        /* The image used */
        background-image: url(../images/arkaplan.png);
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* Needed to position the navbar */
        position: relative;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
    }
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
}


/*------------------------------*/

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.sec-title {
    position: relative;
    margin-bottom: 45px;
}

    .sec-title .title {
        position: relative;
        color: #84858a;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 600;
        padding-top: 30px;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

        .sec-title .title:before {
            position: absolute;
            content: '';
            left: 0px;
            top: 0px;
            width: 6px;
            height: 6px;
            background-color: #f43737;
        }

    .sec-title p {
        position: relative;
        color: #242f6c;
        font-weight: 700;
        line-height: 1.2em;
        text-transform: capitalize;
        -webkit-mask-image: linear-gradient(-75deg, rgba(244,55,55,0.6) 50%, #f43737 50%, rgba(0,0,0,1) 70%);
        -webkit-mask-size: 200%;
        animation: shine 2s infinite;
    }

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.sec-title.centered {
    text-align: center;
}

    .sec-title.centered .text {
        max-width: 580px;
        margin: 0 auto;
    }

.sec-title .title.light::before {
    background-color: #ffffff;
}

.sec-title.light .title,
.sec-title.light p,
.sec-title.light .text {
    color: #ffffff;
}

.sec-title.centered .title:before {
    left: 50%;
    margin-left: -3px;
}

/* --------------------------------------------*/

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

    div.transbox p {
        opacity:1;
        margin: 5%;
        font-weight: bold;
        color: #000000;
        z-index: 5;
    }
    div.transbox h2 {
        opacity: 1;
        margin: 5%;
        font-weight: bold;
        color: #000000;
        z-index: 5;
    }

.box1{
    background-color:rgba(0,0,0,.5);
    color: #fff;
}
