@model List<CategoryDto>

<ul class="navbar-nav  mx-auto ">
	<li class="nav-item active">
		<a class="nav-link" href="/"><b>Anasayfa</b><span class="sr-only">(current)</span></a>
	</li>
	<li class="nav-item">
		<div class="dropdown">
			<button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<b>ÜRÜNLERİMİZ</b>
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				@foreach (CategoryDto item in Model)
				{
				<a asp-action="GenericCategory" asp-controller="Home" asp-route-id="@item.Id" class="dropdown-item nav-item bg-opacity-0" type="button">@item.Name</a>
				}
			</div>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link" asp-action="Contact" asp-controller="Home"><b>İletişim</b></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" asp-action="About" asp-controller="Home"><b>Hakkımızda</b></a>
	</li>
</ul>