<footer class="footer_section mb-0">
	<div class="container">
		<div class="row">
			<div class="col-md-4 footer-col">
				<div class="footer_contact">
					<h4>
						İletişim
					</h4>
					<div class="contact_link_box">
						<a >
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<div>
								Sanayi Mahallesi 60346 Nolu Sokak No: 36
								Şehitkamil/GAZİANTEP
								
							</div>
						</a>
						<a >
							<i class="fa fa-phone" aria-hidden="true"></i>
							<span>
								Tel : (0342) 235 17 25 - (0342) 235 68 62
							</span>
						</a>
						<a >
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<span>
								info@eserkepenk.com
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 footer-col">
				<div class="footer_detail">
					<a href="" class="footer-logo">
						Eser Kepenk
					</a>
					<p>
						Kalite ve Güvenlik misyonunu ilke edinen Eser Kepenk hep daha ileri felsefesini benimsemiştir.
					</p>
					<div class="footer_social">
						<a href="#">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
						<a href="#">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
						<a href="#">
							<i class="fa fa-linkedin" aria-hidden="true"></i>
						</a>
						<a href="#">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
						<a href="#">
							<i class="fa fa-pinterest" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 footer-col">
				<h4>
					Çalışma Saatlerimiz
				</h4>
				<p>
					Hafta içi
				</p>
				<p>
					09:00 - 18:00
				</p>	
			</div>
		</div>
		<div class="contact_link_box">
			<p>
				&copy; <span id="displayYear"></span> Bütün Hakları 
				<a href="https://www.eserkepenk.com">ESER KEPENK</a> tarafından saklıdır<br><br>
				&copy; <span id="displayYear"></span> Distributed By
				@* <br /> *@
				<a href="https://linkedin.com/in/yasin-bagcuvan/" target="_blank">YASO YAZILIM</a>
				<a> & </a>
				<a href="https://www.linkedin.com/in/kerem-yasir-%C3%B6zy%C3%B6n/" target="_blank">ÖZYÖN YAZILIM</a>
			</p>
		</div>
	</div>
</footer>
<!-- footer section -->