<!-- header section strats -->
<header class="header_section" style="background-image: url(/images/arkaplan.png); background-position: center;background-repeat: no-repeat; background-size: cover; position: relative;">
	<div class="container  ">

		<nav class="navbar  navbar-expand-lg custom_nav-container ">

			<a class="navbar-brand" href="/">
				<img src="~/images/logo.png" alt="Alternate Text" />
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class=""> </span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				@await Component.InvokeAsync("ProductMenu")
			</div>
		</nav>
	</div>
</header>