@{
    Layout = "_LayoutAccountForm";
    ViewBag.LoginBoxMsg = "Oturum açmak için giriş yap";
    ViewBag.LoginLink = false;
    ViewBag.ForgotPasswordLink = true;
    ViewBag.RegisterLink = true;
}
@* <h1>@ViewBag.SessionId</h1> *@
<form  asp-controller="Account" asp-action="Login" method="post">
    <div class="input-group mb-3">
        <input name="email" type="email" class="form-control" placeholder="Email">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <input name="password" type="password" class="form-control" placeholder="Şifre">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
        <!-- /.col -->
        <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Giriş</button>
        </div>
        <!-- /.col -->
    </div>
</form>
